

*{
    margin: 0;
    padding: 0;
   
}

.hero-left {
    background-image: url('img/Ellipse\ 7.png'); /* Replace with your image URL */
    background-size:cover ;
    background-position: left;
    height: 100%;
    background-repeat: no-repeat;
}
.about-us{
    background-color:rgb(243, 237, 254);
}

.portfolio-image {
    background-image: url('img/img---111.png');
    background-size: cover;
    background-position: center;
    height: 1000px;
    border-radius: 15px;
}

/* For smaller devices, adjust the height */
@media (max-width: 768px) {
    .portfolio-image {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .portfolio-image {
        height: 400px;
    }
}


/* Custom styles for the active tab */
.nav-pills .nav-link.active {
    background-color: #8e44ad;
    color: white;
}
.nav-pills .nav-link {
    color: black;
}

/* Additional styling for the navigation links */
.category-nav {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}